.menu__icon {
    position: relative;
    margin-top:3px;
    margin-right: 60px;
}

.menu__icon i {
    margin-left: 0.3em;
}

.menu__icon:first-of-type {
    margin-right: 0;
}

.badge {
    position: absolute;
    top: -8px;
    right: -12px;
    padding: 4px 8px;
    font-size: 11px;
    background-color: #f3ad00;
    display: inline-block;
    min-width: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

@media screen and (max-width:767px)  {
    .menu__icon {
        margin:0px;
        margin-top:25px;
        width:25%;
        text-align: center;
    }

    .menu__icon i  {
        font-size: 20px;
    }

    .badge {
        position: relative;
        right: 15px;
        top:-12px;
    }
}