.profile__content {
    padding-top: 50px;
    margin-top:0px;
}

.content__posts {
    height: 100%;
    margin-left: 240px;
    margin-top: 65px;
}

@media screen and (max-width:1199px)  {
    .content__posts {  margin-left:190px;}
}

@media screen and (max-width:767px)  {
    .content__posts  {  margin:0px;
                       margin-top:120px;}

    .profile__content  {  margin-top: 0px;
    padding-top: 100px;}

}