.sidebar {
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0px;
    padding: 50px 10px 0px 10px;
    background: #ffffff;
    z-index: 99;
}

.avatar {
    width: 90%;
    max-width: 110px;
    min-width: 60px;
    margin-left: 5%;
    border-radius: 50%
}

@media screen and (max-width:1199px) {
    .sidebar {
        width: 190px;
    }
}

@media screen and (max-width:767px) {
    .sidebar {
        width: 125px;
        height: auto;
        padding: 10px;
    }
}

@media screen and (max-width:479px) {
    .sidebar {
        width: 100px;
    }
}